#headerWrapper {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  background-image: url("/assets/pictures/title_picture.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0px;
  font-size: 2.5em;
}

#lang {
  position: absolute;
  right: 8px;
  top: 8px;
}
