<div id="recipe_header" class="box_wrapper">
  <div id="info_container">
    <h2>{{ "RECIPES." + recipe.id + ".TITLE" | translate }}</h2>
    <!-- Time -->
    <span>
      {{ ("RECIPES.TIME" | translate) + ": " + (recipe.time | time) }}
    </span>

    <!-- Portions -->
    <span>
      {{ ("RECIPES.PORTIONS" | translate) + ": " + recipe.portions }}
    </span>

    <!-- Source -->
    <span>
      {{ "RECIPES.SOURCE.LABEL" | translate }}
      {{ "RECIPES.SOURCE." + recipe.source.amount | translate }}

      <ng-container *ngIf="recipe.source.type">
        {{ "RECIPES.SOURCE." + recipe.source.type | translate }}

        <ng-container *ngIf="recipe.source.link; else noSourceLink">
          <a *ngIf="recipe.source.link" [href]="recipe.source.link">
            {{ recipe.source.name }}
          </a>
        </ng-container>
        <ng-template #noSourceLink>
          {{ recipe.source.name }}
        </ng-template>
      </ng-container>
    </span>

    <!-- Tags -->
    <span>
      <ng-container *ngFor="let tag of getTags(recipe.tags); let last = last">
        {{ (tag | translate) + (!last ? " - " : "") }}
      </ng-container>
    </span>
  </div>
  <img
    *ngIf="recipe.image_big"
    id="image"
    [src]="recipe.image_big"
    [alt]="'COMMON.ALT.PICTURE_FOOD' | translate"
  />
</div>

<div id="instructions_container">
  <div id="ingredients_container" class="box_wrapper">
    <h3>{{ "RECIPES.INGREDIENTS" | translate }}</h3>
    <!-- Base ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.base"
      [ingredients]="recipe.ingredients.base"
    ></app-ingredients-list>

    <!-- Jam ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.jam"
      [ingredients]="recipe.ingredients.jam"
      header="JAM"
    ></app-ingredients-list>

    <!-- Dough ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.dough"
      [ingredients]="recipe.ingredients.dough"
      header="DOUGH"
    ></app-ingredients-list>

    <!-- Dressing ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.dressing"
      [ingredients]="recipe.ingredients.dressing"
      header="DRESSING"
    ></app-ingredients-list>

    <!-- Sauce ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.sauce"
      [ingredients]="recipe.ingredients.sauce"
      header="SAUCE"
    ></app-ingredients-list>

    <!-- To serve with ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.to_serve"
      [ingredients]="recipe.ingredients.to_serve"
      header="TO_SERVE"
    ></app-ingredients-list>
  </div>
  <div id="steps_container" class="box_wrapper">
    <h3>{{ "RECIPES.INSTRUCTIONS" | translate }}</h3>
    <span *ngFor="let step of [].constructor(recipe.steps); let i = index">
      {{ i + 1 + ". " }}
      {{ "RECIPES." + recipe.id + ".STEPS." + (i + 1) | translate | translate }}
    </span>
  </div>
</div>
