#recipe_header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  #info_container {
    display: flex;
    flex-direction: column;
    a {
      font-weight: bold;
      text-decoration-line: underline;
    }
  }

  #image {
    max-height: 50vh;
    max-width: 75%;
    margin: -20px -20px -20px 20px;
  }
}

#instructions_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4px;

  #ingredients_container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-right: 4px;
  }

  #steps_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 16px;
  }
}
