<div id="recipe_header" class="box_wrapper">
  <h2>{{ "RECIPES." + recipe.id + ".TITLE" | translate }}</h2>
  <div id="img_container">
    <img
      *ngIf="recipe.image_big"
      id="image"
      [src]="recipe.image_big"
      [alt]="'COMMON.ALT.PICTURE_FOOD' | translate"
    />
  </div>
  <div id="info_container">
    <span id="time">
      {{ ("RECIPES.TIME" | translate) + ": " }} {{ recipe.time | time }}
    </span>
    <span id="portions">
      {{ ("RECIPES.PORTIONS" | translate) + ": " }} {{ recipe.portions }}
    </span>
    <span id="tags">
      <ng-container *ngFor="let tag of getTags(recipe.tags); let last = last">{{
        (tag | translate) + (!last ? ", " : "")
      }}</ng-container>
    </span>
  </div>
</div>

<div id="instructions_container">
  <div id="ingredients_container" class="box_wrapper">
    <h3>{{ "RECIPES.INGREDIENTS" | translate }}</h3>
    <!-- Base ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.base"
      [ingredients]="recipe.ingredients.base"
    ></app-ingredients-list>

    <!-- Jam ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.jam"
      [ingredients]="recipe.ingredients.jam"
      header="JAM"
    ></app-ingredients-list>

    <!-- Dough ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.dough"
      [ingredients]="recipe.ingredients.dough"
      header="DOUGH"
    ></app-ingredients-list>

    <!-- Dressing ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.dressing"
      [ingredients]="recipe.ingredients.dressing"
      header="DRESSING"
    ></app-ingredients-list>

    <!-- Sauce ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.sauce"
      [ingredients]="recipe.ingredients.sauce"
      header="SAUCE"
    ></app-ingredients-list>

    <!-- To serve with ingredients -->
    <app-ingredients-list
      *ngIf="recipe.ingredients.to_serve"
      [ingredients]="recipe.ingredients.to_serve"
      header="TO_SERVE"
    ></app-ingredients-list>
  </div>
  <div id="steps_container" class="box_wrapper">
    <h3>{{ "RECIPES.INSTRUCTIONS" | translate }}</h3>
    <span *ngFor="let step of [].constructor(recipe.steps); let i = index">
      {{ i + 1 + ". " }}
      {{ "RECIPES." + recipe.id + ".STEPS." + (i + 1) | translate }}
    </span>
  </div>
</div>
