ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background-color:#403e36;
  box-shadow: 0px 2px 2px #a9a9a9;
}

a {
  padding: 12px;
  text-decoration: none;
  color: #fff6d3;
  flex-basis: 33%;
  text-align: center;
}

.rightBorder{
    border-right: 1px solid #fff6d3;
}
