label,
span {
  font-size: 14px;
}

#main_container {
  display: flex;

  h3 {
    margin-top: 0px;
  }

  .mat-typography h4 {
    margin-bottom: 4px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
  }

  #filter_container {
    min-width: 200px;
    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }
    span {
      font-size: 12px;
      padding-top: 4px;
    }
  }

  #recipes_container {
    flex-grow: 1;
    margin-left: 40px;
    #recipes_sub_container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      a {
        width: 160px;
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
    .image {
      margin: -20px -20px 0px -20px;
      width: 200px;
      height: 100px;
      margin-bottom: 12px;
    }
  }
}
