.fodmap_list_container.headers > div {
  text-align: center;
  font-size: 1.4em;
  padding: 0.7em;
}

.fodmap_list_container {
  display: flex;

  div {
    flex-grow: 1;
    flex-basis: 1px;
    color: black !important;
  }

  ul {
    padding: 4px 0px;
    margin: 0px;
  }

  li {
    padding: 2px 8px;
  }

  .low {
    background-color: lightgreen;
    border-radius: 4px 0px 0px 4px;
  }

  .medium {
    background-color: coral;
  }

  .high {
    background-color: #ff3b2f;
    border-radius: 0px 4px 4px 0px;
  }
}
