<ng-container *ngIf="headers">
  <div class="fodmap_list_container headers">
    <div class="low">
      <span>{{ "FODMAP_LIST.RATING.LOW" | translate }}</span>
    </div>
    <div class="medium">
      <span>{{ "FODMAP_LIST.RATING.MEDIUM" | translate }}</span>
    </div>
    <div class="high">
      <span>{{ "FODMAP_LIST.RATING.HIGH" | translate }}</span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="section">
  <h3>{{ section.title | translate }}</h3>
  <ng-container
    *ngIf="
      section.low.length || section.medium.length || section.high.length;
      else emptyList
    "
  >
    <div class="fodmap_list_container">
      <div class="low">
        <ul>
          <li *ngFor="let fodmap_ingredient of section.low">
            {{
              (fodmap_ingredient.MEDiet | meDietType) +
                ("INGREDIENT." + fodmap_ingredient.ingredient | translate)
            }}
          </li>
        </ul>
      </div>
      <div class="medium">
        <ul>
          <li *ngFor="let fodmap_ingredient of section.medium">
            {{
              (fodmap_ingredient.MEDiet | meDietType) +
                ("INGREDIENT." + fodmap_ingredient.ingredient | translate)
            }}
          </li>
        </ul>
      </div>
      <div class="high">
        <ul>
          <li *ngFor="let fodmap_ingredient of section.high">
            {{
              (fodmap_ingredient.MEDiet | meDietType) +
                ("INGREDIENT." + fodmap_ingredient.ingredient | translate)
            }}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyList>
    {{ "FODMAP_LIST.NO_INGREDIENTS" | translate }}
  </ng-template>
</ng-container>
