/** GLOBAL STYLES */

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  background-color: whitesmoke;
}

body,
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4 {
  font-family: "Trebuchet MS", sans-serif !important;
}

main {
  width: 100%;
  min-height: calc(100% - 10vh); // Full page minus header
}
main > div {
  min-width: 600px;
  width: 70%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;
}

.mat-typography h3 {
  font-size: 1.2em;
  margin-top: 12px;
  margin-bottom: 4px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  margin: 4px 0px;
}

label {
  display: flex;
  margin-top: 2px;
  align-items: center;
  input {
    margin-right: 6px;
  }
}

.mat-menu-content:not(:empty) {
  padding: 0px !important;
}

.box_wrapper {
  background-color: white;
  box-shadow: 0px 0px 4px 1px #a9a9a9;
  padding: 20px;

  h3 {
    margin-top: 0px;
  }
}

/** Dark mode */
body .dark_mode {
  background-color: #181719;
  color: white;
}

.dark_mode .box_wrapper {
  background-color: #353535;
  box-shadow: 0px 0px 4px 1px #151515;
}
