/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
